@(form: Form[ChangePasswordController.PasswordParameters])

@import helper.twitterBootstrap._

@()

@main("Change password") {
@menu()
<div class="container">
    <div class="form-signin">
        @helper.form(routes.ChangePasswordController.changePassword) {
        <h2 class="form-signin-heading">Change password</h2>
        <input type="password" class="input-block-level" name="oldPassword" placeholder="Old Password" value="@form("oldPassword").value">
        <input type="password" class="input-block-level" name="newPassword" placeholder="New Password" value="@form("newPassword").value">
        <input type="password" class="input-block-level" name="confirmNewPassword" placeholder="Confirm New Password" value="@form("confirmNewPassword").value">
        <button type="submit" class="btn btn-large btn-primary">Change</button>
        @if(form.hasGlobalErrors) {
        <p class="error">
            @form.globalError.message
        </p>
        }
        @if(flash.contains("success")) {
        <p class="success">
            @flash.get("success")
        </p>
        }
        }
    </div> <!-- /form-signin -->
</div> <!-- /container -->
}