@import helper.twitterBootstrap._

@(message: String)
@main("Find school") {
@menu()
<div class="container">

    <script type="text/javascript">
      /* Table initialisation */
      $(document).ready(function() {
        $('#school_table').dataTable( {
          "bProcessing": true,
          "aaSorting": [[ 0, "asc" ]],
          "bServerSide": true,
          "bJQueryUI": true,
          "sPaginationType": "full_numbers",
          "sAjaxSource": "@routes.SchoolsController.list()"
        });

        var table = $('#school_table').DataTable();

        $('#school_table tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
         } );

      });
        </script>


    <h2>Schools</h2>

    <table id="school_table" class='display'>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date created</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>




</div> <!-- /container -->
}