@(form: Form[LoginController.LoginParameters])
@import helper.twitterBootstrap._

@main("Log in") {
<div class="container">
    <!-- I don't know how to implement this
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label> -->
    <div class="form-signin">
        @helper.form(routes.LoginController.login) {
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="email" class="input-block-level" name="email" placeholder="Email" value="@form("email").value">
            <input type="password" class="input-block-level" name="password" placeholder="Password" value="@form("password").value">
            <button type="submit" class="btn btn-large btn-primary">Login</button>
            <a href="@routes.RegisterController.showRegisterView()" class="btn btn-large btn-primary">Register</a>
            <a href="@routes.LinkedInController.showLinkedInView()" class="btn btn-large btn-primary">LinkedIn</a>
            @if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
            }
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
        }
    </div> <!-- /form-signin -->
</div> <!-- /container -->
}