@()

<div class="horizontal">
    <ul>
        <li><a href="@routes.IndexController.showIndexView()">Home</a></li>
        <li><a href="@routes.EditProfileController.showEditView()">Edit</a></li>
        <!--<li><a href="@routes.LinkedInController.showLinkedInView()">LinkedIn</a></li>
        <li><a href="@routes.FacebookController.showFacebookView()">Facebook</a></li>-->
        <li><a href="#">Search persons</a></li>
        <li><a href="#">Search companies</a></li>
        @if(MainController.isAdmin) {
        <li><a href="@routes.CompanyController.showCompanyView()">Add company</a></li>
        <li><a href="@routes.SchoolController.showSchoolView()">Add school</a></li>
        }
        <li><a href="@routes.LoginController.logout()">Log out</a></li>
    </ul>
</div>