@(form: Form[SchoolController.SchoolParameters])

@import helper.twitterBootstrap._

@main("Add school") {
@menu()
<div class="container">
    <div class="form-signin">



        <style>
            .sandbox-form label, .sandbox-form span {
            display: inline-block;
            margin: .5em .5em;
            vertical-align: middle;
            }
            .sandbox-form span label {
            vertical-align: baseline !important;
            }
        </style>

        <style>
            .datepicker .green {color: #0F0;}
        </style>
        <script>
        $(function(){
          var defaults = {},
              defaults_form = $('<form>', {html: $('.sandbox-form').html()})
          $.each(defaults_form.serializeArray(), function(i,e){
            if (e.name in defaults)
              defaults[e.name] += ',' + e.value;
            else
              defaults[e.name] = e.value;
          });
          delete defaults.markup;

          function fix_indent(s){
            var lines = s.split(/\r?\n/g);
            while (/^\s*$/.test(lines[0])) lines.shift();
            while (/^\s*$/.test(lines[lines.length-1])) lines.pop();
            var indent = /^\s*/.exec(lines[0])[0],
                deindent = new RegExp('^' + indent);
            for (var i=0; i<lines.length; i++)
              lines[i] = lines[i].replace(deindent, '');
            return lines.join('\n');
          }

          function build_code(){
            var form = $('.sandbox-form'),
                values = {};
            $.each(form.serializeArray(), function(i,e){
              if (e.name in values)
                values[e.name] += ',' + e.value;
              else
                values[e.name] = e.value;
            });

            var html_el = $('[name=markup][value='+values.markup+']').siblings('script.html').filter('[data-version="' + page.bootstrap + '"], [data-version="*"]');
            var html = fix_indent(html_el.html());
            var selector_el = $('[name=markup][value='+values.markup+']').siblings('script.selector').filter('[data-version="' + page.bootstrap + '"], [data-version="*"]');
            var selector = selector_el.html().replace(/^\s+|\s+$/g, '');
            delete values.markup;

            var js = "$('#sandbox-container "+selector+"').datepicker({\n",
                val;
            for (var opt in $.extend({}, defaults, values)){
              if (values[opt] != defaults[opt]){
                val = values[opt];
                if (opt == 'daysOfWeekDisabled') val = '"'+val+'"'
                else if (opt == 'beforeShowDay') val = function(date){
      if (date.getMonth() == (new Date()).getMonth())
        switch (date.getDate()){
          case 4:
            return {
              tooltip: 'Example tooltip',
              classes: 'active'
            };
          case 8:
            return false;
          case 12:
            return "green";
        }
    }
                else if (val == 'on' || val == 'true') val = 'true';
                else if (val === void 0 || val == 'false') val = 'false';
                else if (parseInt(val) == val) val = val;
                else val = '"'+val+'"'
                js += "    " + opt + ": " + val + ",\n"
              }
            }
            if (js.slice(-2) == ",\n")
              js = js.slice(0,-2) + "\n";
            js += "});";

            return [html, js];
          }
          function update_code(){
            var code = build_code(),
                html = code[0],
                js = code[1];

            var print_html = html.replace(/</g, '&lt;').replace(/>/g, '&gt;')
            $('#sandbox-html').html(prettyPrintOne(print_html, 'html', true));
            $('#sandbox-js').html(prettyPrintOne(js, 'js', true));
          }
          function update_sandbox(){
            var code = build_code(),
                html = code[0],
                js = code[1];

            $('#sandbox-container > :first-child').datepicker('remove');
            $('#sandbox-container').html(html);
            eval(js);
          }
          function update_url(){
            if (history.replaceState){
              var query = '?' + $('.sandbox-form').serialize();
              history.replaceState(null, null, query + '#sandbox');
            }
          }
          function update_all(){
            update_code();
            update_sandbox();
            update_url();
          }

          $('.sandbox-form')
            .submit(function(){ return false; })
            .keydown(update_all)
            .keyup(update_all)
            .click(function(e){
              update_code();
              update_sandbox();
              if (!$(e.target).is('button[type=reset]'))
                update_url();
            });

          $('.sandbox-form button[type=reset]').click(function(){
            $('.sandbox-form')[0].reset();
            update_code();
            update_sandbox();
            history.replaceState && history.replaceState(null, null, '?#sandbox');
          });

          $(page).on('change:bootstrap', function(e, version){
            $('#ch_bs').text('Switch to Bootstrap ' + (5-version));
          });
          $('#ch_bs').click(function(){
            swap_bs();
          });

          $(page).on('change:bootstrap', update_all);

          setTimeout(function(){
            // Load form state from url if possible
            var search = document.location.search.replace(/^\?/, '');
            if (search){
              search = search.split('&');
              var values = {};
              for (var i=0, opt, val; i<search.length; i++){
                opt = search[i].split('=')[0];
                val = search[i].split('=')[1];
                if (opt in values)
                  values[opt] += ',' + val;
                else
                  values[opt] = val;
              }

              for (var opt in $.extend({}, defaults, values)){
                var el = $('[name='+opt+']'),
                    val = unescape(values[opt]);
                if (el.is(':checkbox')){
                  if (el.length > 1){
                    var vals = val.split(',');
                    $('[name='+opt+']').prop('checked', false);
                    for (var i=0; i<vals.length; i++)
                      $('[name='+opt+'][value='+vals[i]+']').prop('checked', true);
                  }
                  else if (val === 'undefined')
                    el.prop('checked', false);
                  else
                    el.prop('checked', true);
                }
                else if (el.is(':radio')){
                  el.filter('[value='+val+']').prop('checked', true);
                }
                else
                  el.val(val);
              }
            }

            // Don't replaceState the url on pageload
            update_code();
            update_sandbox();
          }, 300);



          var flag=0, mousedown=false, delta=0, x=0, y=0, dx, dy;





          $(page).trigger('change:bootstrap', page.bootstrap)
        });

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1453188-13']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();



        </script>

        @helper.form(routes.SchoolController.addSchool) {
        <h2 class="form-signin-heading">Add school</h2>
        <input type="text" class="input-block-level" name="name" placeholder="Name" value="@form("name").value">
        @helper.inputDate(form("dateCreated"))
        <input type="text" class="input-block-level" name="location" placeholder="Location" value="@form("location").value">





        <div class="row form-horizontal">
            <div class="span5 col-md-5" id="sandbox-container">
                <input class="form-control" type="text">
            </div>

        </div>


        <div style="display: block; top: 466px; left: 104.5px;"
             class="datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-bottom">
            <div style="display: block;" class="datepicker-days">
                <table class=" table-condensed">
                    <thead>
                    <tr>
                        <th style="visibility: visible;" class="prev">«</th>
                        <th colspan="5" class="datepicker-switch">February 2015</th>
                        <th style="visibility: visible;" class="next">»</th>
                    </tr>
                    <tr>
                        <th class="dow">Su</th>
                        <th class="dow">Mo</th>
                        <th class="dow">Tu</th>
                        <th class="dow">We</th>
                        <th class="dow">Th</th>
                        <th class="dow">Fr</th>
                        <th class="dow">Sa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="day old">25</td>
                        <td class="day old">26</td>
                        <td class="day old">27</td>
                        <td class="day old">28</td>
                        <td class="day old">29</td>
                        <td class="day old">30</td>
                        <td class="day old">31</td>
                    </tr>
                    <tr>
                        <td class="day">1</td>
                        <td class="day">2</td>
                        <td class="day">3</td>
                        <td class="day">4</td>
                        <td class="day">5</td>
                        <td class="day">6</td>
                        <td class="day">7</td>
                    </tr>
                    <tr>
                        <td class="day">8</td>
                        <td class="day">9</td>
                        <td class="day">10</td>
                        <td class="day">11</td>
                        <td class="day">12</td>
                        <td class="day">13</td>
                        <td class="day">14</td>
                    </tr>
                    <tr>
                        <td class="day">15</td>
                        <td class="day">16</td>
                        <td class="day">17</td>
                        <td class="day">18</td>
                        <td class="day">19</td>
                        <td class="day">20</td>
                        <td class="day">21</td>
                    </tr>
                    <tr>
                        <td class="day">22</td>
                        <td class="day">23</td>
                        <td class="day">24</td>
                        <td class="day">25</td>
                        <td class="day active">26</td>
                        <td class="day">27</td>
                        <td class="day">28</td>
                    </tr>
                    <tr>
                        <td class="day new">1</td>
                        <td class="day new">2</td>
                        <td class="day new">3</td>
                        <td class="day new">4</td>
                        <td class="day new">5</td>
                        <td class="day new">6</td>
                        <td class="day new">7</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th style="display: none;" colspan="7" class="today">Today</th>
                    </tr>
                    <tr>
                        <th style="display: none;" colspan="7" class="clear">Clear</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div style="display: none;" class="datepicker-months">
                <table class="table-condensed">
                    <thead>
                    <tr>
                        <th style="visibility: visible;" class="prev">«</th>
                        <th colspan="5" class="datepicker-switch">2015</th>
                        <th style="visibility: visible;" class="next">»</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="7"><span class="month">Jan</span><span class="month active">Feb</span><span
                                class="month">Mar</span><span class="month">Apr</span><span
                                class="month">May</span><span class="month">Jun</span><span
                                class="month">Jul</span><span class="month">Aug</span><span
                                class="month">Sep</span><span class="month">Oct</span><span
                                class="month">Nov</span><span class="month">Dec</span></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th style="display: none;" colspan="7" class="today">Today</th>
                    </tr>
                    <tr>
                        <th style="display: none;" colspan="7" class="clear">Clear</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div style="display: none;" class="datepicker-years">
                <table class="table-condensed">
                    <thead>
                    <tr>
                        <th style="visibility: visible;" class="prev">«</th>
                        <th colspan="5" class="datepicker-switch">2010-2019</th>
                        <th style="visibility: visible;" class="next">»</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span
                                class="year">2011</span><span class="year">2012</span><span
                                class="year">2013</span><span class="year">2014</span><span
                                class="year active">2015</span><span class="year">2016</span><span
                                class="year">2017</span><span class="year">2018</span><span
                                class="year">2019</span><span class="year new">2020</span></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th style="display: none;" colspan="7" class="today">Today</th>
                    </tr>
                    <tr>
                        <th style="display: none;" colspan="7" class="clear">Clear</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        }


        <script src="../assets/js/bootstrap-datepicker.js"></script>
        <link href='@routes.Assets.at("stylesheets/datepicker.css")' rel="stylesheet">
    </div>
    <!-- /form-signin -->
</div> <!-- /container -->


}